.info-mv {
    width: auto;
    height: 724px;
    background: url(../images/infomain.jpg) center center / cover;
}

.info-main {
    position: relative;
    width: auto;
    margin: -120px 0 0 120px;
    padding: 0 0 100px 120px;
    background: rgb(255, 255, 255);
}

.info-about {

    padding-top: 100px;
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__box-homebtn {
        margin-bottom: 80px;
        margin-right: 120px;
    }
    &__box-homelink {
        color: $color-b;
        text-decoration: none;
        transition: all .4s;
        &:hover {
            color: $color-hover;
        }
    }
    &__box-ttl {
        margin-bottom: 100px;
        // padding-top: 100px;
        font-size: 40px;
        font-family: $font-ttl;
        text-align: left;
    }
    &__txt {
        margin-bottom: 100px;
        padding-left: 120px;
    }
}

.info-date-time{

    position: relative;
    margin-bottom: 400px;

    &__box01{
        
        position: absolute;
        top: 340px;
        left: 190px;
        width: 1191px;
        padding: 60px 200px;
        background: #5dc2cfe7;
        color: #fff;
        text-align: center;

        &-txt01{
            margin-bottom: 25px;
            font-size: 30px;           
        }

        &-date{
            margin-bottom: 25px;
            font-size: 60px;
            font-weight: bold;           
        }

        &-time{
            margin-bottom: 25px;
            padding-bottom: 25px;
            border-bottom: 1px solid #fff;  
            font-size: 30px;
        }

        &-txt02{
            margin-bottom: 10px;
            // font-size: 18px;
        }

        &-txt03{
            margin-bottom: 30px;
            padding: 5px 0;
            // font-size: 18px;
        }
   
    &__pic {
        width: 1577px;
        height: 642px;
    }

    &__img {
        width: 100%;
        height: 100%};
        object-fit: cover;
    }

    &__more {
        width: 220px;
        height: 57px;
        padding-top: 26px;
        margin: 0 auto;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        background: #fff;
        box-sizing: border-box;
        padding: 13px;
        color: #000;
        font-size: 14px;
        text-align: left;
        text-decoration: none;
        transition: all .4s;
        &:hover {
            color: $color-hover;
        }
        &::after {
            content: "";
            display: inline-block;
            width: 16.6px;
            height: 14px;
            background: url(../images/icon-tw.png) center center / contain;
            margin-left: 10px;
            margin-top: -2px;
        }
    }
}
    

.info-place {
    

    &__box01 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 185px 100px 65px;
        margin-bottom: 100px;
    }
    &__ttl {
        margin-bottom: 100px;
        margin-left: 50px;
        padding-top: 100px;
        font-size: 40px;
        font-family: $font-ttl;
        text-align: center;
        width: 1340px;
    }
    &__txt {
        padding: 30px 0;
        background: #EEEEEE;
        font-size: 30px;
        text-align: center;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        padding: 0 185px 0 65px;
        margin-bottom: 200px;
    }
    &__box02 {
        width: 450px;
    }
    &__def-tit {
        width: 100px;
        border-bottom: 1px solid #000;
        font-size: 20px;
        margin-bottom: 15px;
    }
    &__def-date {
        font-size: 16px;
        margin-bottom: 45px;
    }
    &__pic {
        width: 870px;
        height: 600px;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__more {
        width: 220px;
        height: 57px;
        padding-top: 26px;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
        background: #fff;
        box-sizing: border-box;
        padding: 13px;
        color: #000;
        font-size: 14px;
        text-align: left;
        text-decoration: none;
        transition: all .4s;
        &:hover {
            color: $color-hover;
        }
        &::after {
            content: "";
            display: inline-block;
            width: 16.6px;
            height: 14px;
            background: url(../images/icon-tw.png) center center / contain;
            margin-left: 10px;
            margin-top: -2px;
        }
    }
}

.info-apply {
    padding: 0 185px 0 65px;
    &__ttl {
        margin-bottom: 100px;
        margin-left: 50px;
        // padding-top: 100px;
        font-size: 40px;
        font-family: $font-ttl;
        text-align: center;
        width: 1340px;
    }
    &__txt {
        text-align: left;
        margin: 0 0 25px 300px;
    }
    &__label {
        text-align: left;
        margin: 0 0 10px 300px;
    }
    &__box01 {
        text-align: center;
        margin-bottom: 40px;
    }
    &__control {
        width: 760px;
        height: 50px;
        margin-bottom: 25px;
        padding: 0 20px;
    }
    &__box02 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }
    &__policy-txt::after {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url(../images/icon-link.png) center center / cover;
        margin: 0 10px;
      
    }
}

textarea {
    resize: none;
    width: 800px;
    height: 146px;
}

// リンクボタン
.info-apply__policy-btn {
    width: 200px;
    height: 57px;
    padding-top: 26px;
}

.info-apply__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5DC1CF;
    background: #5DC1CF;
    box-sizing: border-box;
    padding: 13px 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    transition: all .4s;
    &:hover {
        color: $color-hover;
    }
}